# Toronto Neighborhood Clustering

In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

Once the data is in a structured format, you can replicate the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto.

#### For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.
1. Start by creating a new Notebook for this assignment: Toronto_Neighborhood.ipynb
2. Use the Notebook to build the code to scrape the following Wikipedia page, 
    https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, 
    in order to obtain the data that is in the table of postal codes and to transform the data 
    into a pandas dataframe like the one shown below:

    Use the Notebook to build the code to scrape the following Wikipedia page, 
    https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

3. To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

4. Submit a link to your Notebook on your Github repository. (10 marks)

Note: There are different website scraping libraries and packages in Python. One of the most common packages is BeautifulSoup. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

The package is so popular that there is a plethora of tutorials and examples of how to use it. Here is a very good Youtube video on how to use the BeautifulSoup package: https://www.youtube.com/watch?v=ng2o98k983k

Use the BeautifulSoup package to transform the data in the table on the Wikipedia page into the above pandas dataframe

2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [1]:
import numpy as np
import pandas as pd
import requests

##### Get the Toronto postal URL. Then read into tables dataframe

In [2]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables =pd.read_html(url, header=0)

##### Only use the first table and read in as a dataframe

In [3]:
df=tables[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

##### Drop rows where Borogh is Not assigned

In [4]:
df=df[df['Borough'] != 'Not assigned']
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

##### Reset index

In [5]:
df=df.reset_index(drop=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

##### find Neighbourhood where cell value is 'Not assigned'

In [6]:
df[df['Neighbourhood']=='Not assigned']

  Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

##### assign Borough "Queen's Park" to Neighbourhood cell. Verify it's correctly assigned

In [7]:
df.iloc[6,2]='Queen\'s Park'
df[6:7]

  Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Queen's Park

##### groupby Postcode and aggregate Neighbourhood into same cell with ', ' separator

In [8]:
df=df.groupby('Postcode').agg({'Borough':'sum','Neighbourhood': lambda x: ', '.join(x)})
df.head()

,Borough,Neighbourhood
Postcode,,
M1B,ScarboroughScarborough,"Rouge, Malvern"
M1C,ScarboroughScarboroughScarborough,"Highland Creek, Rouge Hill, Port Union"
M1E,ScarboroughScarboroughScarborough,"Guildwood, Morningside, West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae

##### reset index

In [9]:
df = df.reset_index()
df.head(10)

,Postcode,Borough,Neighbourhood
0,M1B,ScarboroughScarborough,"Rouge, Malvern"
1,M1C,ScarboroughScarboroughScarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,ScarboroughScarboroughScarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,ScarboroughScarboroughScarborough,"East Birchmount Park, Ionview, Kennedy Park"
7,M1L,ScarboroughScarboroughScarborough,"Clairlea, Golden Mile, Oakridge"
8,M1M,ScarboroughScarboroughScarborough,"Cliffcrest, Cliffside, Scarborough Village West"
9,M1N,ScarboroughScarborough,"Birch Cliff, Cliffside West"

##### print number of rows value of the dataframe

In [10]:
print('The number of rows is: ', df.shape[0])

The number of rows is:  103